/* ~符号表示从node_modules中导入 */
@import "~normalize.css";
@import "~antd/dist/antd.css";

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;

}

.wrap {
    width: 1100px;
    margin: 0 auto;
}

.content-wrap {
    width: 982px;
    margin: 0 auto;
}

/* 
.playlist-sprite {
    background: url("../img/playlist_sprite.png") no-repeat -9999 -9999;
} */

.icon-share {
    background: url("../img/playlist_sprite.png") no-repeat 0 0
}

.icon-download {
    background: url("../img/playlist_sprite.png") no-repeat -57px -50px;
}

.icon-delete {
    background: url("../img/playlist_sprite.png") no-repeat -51px 0;
}

/* .icon-enshrine {} */

.icon-favor {
    background: url("../img/playlist_sprite.png") no-repeat -24px 0;
    /* background-position: ; */
}

.icon-link {
    background: url("../img/playlist_sprite.png") no-repeat -80px 3px;
}