/* ~符号表示从node_modules中导入 */
@import "~normalize.css";
@import "~antd/dist/antd.css";

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;

}

.wrap {
    width: 1100px;
    margin: 0 auto;
}

.content-wrap {
    width: 982px;
    margin: 0 auto;
}